{
  "devices": {
    "your-device-id": {
      "name": "◯◯家 リビング",
      "no_motion_hours": 6,
      "heartbeat_grace_minutes": 90
      "emails": ["owner@example.com", "admin@example.com"],
    }
  },
  "defaults": {
    "no_motion_hours": 6,
    "heartbeat_grace_minutes": 90
  }
}
