[Unit]
Description=Run anpi-update every 6 hours

[Timer]
# 00, 06, 12, 18 時のちょうどに実行
OnCalendar=*-*-* 00/6:00:00
Persistent=true

[Install]
WantedBy=timers.target